h2{
    text-align: center;
    color: aliceblue;
}

body{
    background-color: black;
}

.gd{
    text-align: center;
    color: aliceblue;
}

#botao{
    position: relative;
    top: 30px;
    left: 600px;
    cursor: pointer;
    align-items: center;
}

*{
    box-sizing:border-box;
}
.box{
    width: 500px;
    height: 500px;
    border: solid 5px #ffffffff;
    margin: 2% auto;
    padding: 70px 140px 50px 130px;

}
#mensagem{
    text-align: center;
    color: aliceblue;
}


