h2{
    text-align: center;
    color: aliceblue;
}

body{
    background-color: rgb(161, 15, 15);
}

.gd{
    text-align: center;
    color: aliceblue;
}

#botao{
    position: relative;
    top: 30px;
    left: 600px;
    cursor: pointer;
    align-items: center;
}

*{
    box-sizing:border-box;
}
.box{
    width: 500px;
    height: 500px;
    border: solid 5px #ffffffff;
    margin: 2% auto;
    padding: 70px 140px 50px 130px;

}
#mensagem{
    text-align: center;
    color: aliceblue;
}

#cookies-msg{
    width: 80%;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
    border-radius:10px;
    background-color: blueviolet;
    color: white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    font-size: Arial, Helvetica, sans-serif;
}
#cookies-msg.mostrar {
     display: block;
}

#aceitocoockies button {
    background-color: blue;
    color: aliceblue;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}


